@model Vidly.Models.Movie
@{
    @*
        Sets the Title header to the name of the Movie passed through in Details. Details sets the Movie to the Id if it is found in our list.
        This Movie object becomes our model for Details
    *@
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*
    @Model.Name sets the h2 tag to the actual name. Ie If the movie object passed has Name "Shrek", "Shrek" is now the h2 tag.    
*@
<h2>@Model.Name</h2>
<div>
    <button class="btn btn-primary">@Html.ActionLink("Edit", "Edit", "Movies", new { id = @Model.Id }, null)</button>
</div>

<table class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>Genre</th>
        <th>Release Date</th>
        <th>Date Added</th>
        <th>Stock</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>@Model.GenreType.Name</td>
        <td>@Model.ReleaseDate.Date.ToShortDateString()</td>
        <td>@Model.DateAdded.Date.ToShortDateString()</td>
        <td>@Model.Stock</td>
    </tr>
    </tbody>
</table>