@model Vidly.Models.Customer
@{
    @*
        Sets the Title header to the name of the Customer passed through in Details. Details sets the Customer to the Id if it is found in our list.
        This Customer object becomes our model for Details
    *@
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>
@*
    Edit the current customer on the specific page.    
*@
<div>
    <button class="btn btn-primary">@Html.ActionLink("Edit", "Edit", "Customers", new { id = @Model.Id }, null)</button>
</div>


<div>

    @if (@Model.Birthday.HasValue)
    {
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <td>Membership Type</td>
                    <td>Birthday</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Model.MembershipType.Name</td>
                    <td>@Model.Birthday.Value.ToShortDateString()</td>
                </tr>
            </tbody>
        </table>

    }
    else
    {
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <td>Membership Type</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Model.MembershipType.Name</td>
                </tr>
            </tbody>
        </table>
    }
</div>
